name: Check formatting

on:
  pull_request:
    paths:
      - 'src/**.c'
      - 'src/**.cpp'
      - 'src/**.h'
      - 'src/**.hpp'

jobs:
  formatting:
    name: "Check formatting"
    runs-on: windows-2022
    permissions:
      contents: read
    steps:
      - name: Get AV
        uses: actions/checkout@v5
      - name: Check formatting with clang-format
        run: >
          clang-format --dry-run --Werror -style=file $(find src/ -type f \( -name '*.cpp' -o -name '*.h' -o -name '*.c' -o -name '*.hpp' \))
        shell: bash
